.title{
    color: hotpink;
    width: 310px;
    height: 50px;
    background-color: teal;
}

#seleccionar-mascota{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid hotpink;
    border-radius: 5px;
}

.boton{
    color: white;
    margin-top: 10px;
    background-color: #6BF201;
    border: 1px solid  #6BF201;
    padding: 10px;
    border-radius: 5px;
}

.boton:hover{
    box-shadow: -4px 9px 8px -3px rgba(117,117,117,1);
}