*{
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #041562;
}

#seleccionar-mascota{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
    font-size: 32px;
}

.subtitulo{
    color: white;
    font-size: 20px;
}


.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    color: white;
    width: 180px;
    height: 100px;
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

.boton{
    color: white;
    margin-top: 10px;
    background-color: #6BF201;
    border: 1px solid  #6BF201;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.boton:hover{
    box-shadow: -4px 9px 8px -3px rgb(14, 14, 14);
}

input{
    display: none;
}

/*Seleccionar ataque */